.chat-window{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 430px;
    margin: 0 15px;
}

.chat-window .card-header{
    height: 40px;
}

.chat-window .card-body{
    height: 335px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-window .card-body .messages .thumb img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border: 1px solid #eee;
}

.chat-window .timestamp{
    font-size: 12px;
    color: dimgray;
}

#chatWindowTemplate{
    display: none;
}

.chat-name-select .thumb{
    padding: 4px;
}

.chat-name-select .thumb img{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
}

.chat-name-select li{
    cursor: pointer;
}

.chat-name-select .fa-circle{
    font-size: 10px;
}
